<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2RdGzVpX3UeGGUcV8Q835r0zbAURyBzU</string>
	<key>GCM_SENDER_ID</key>
	<string>76023339953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csc305.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-gikj27</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-gikj27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76023339953:ios:9355ff3b530ac8539abb90</string>
</dict>
</plist>